html {
    padding: 0;
    margin: 0;
}
body {
    background-color: ivory;
    padding: 0;
    margin: 0;
}
body .navbar {
    display:flex;
    align-items: top;
}
.navbar {
    background-color: #0C1524;
    height: 4.7rem;
    display: flex;
    justify-content: space-between;
}
.navbar a {
    font-family: Helvetica;
    font-size: 2rem;
    color: ivory;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-right: 1rem;
}
.navbar img {
    border-right: ivory;
    border-style: dotted;
}